@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-tabs-tab-btn {
  color: rgb(229, 70, 70) !important;
  font-weight: 600;
}

.ant-tabs-ink-bar {
  background-color: #50d71e !important;
  pointer-events: none;
}

.ant-btn {
  background-color: #50d71e;
  color: #fff;
}

.ant-btn:hover {
  background-color: #50d71e;
  color: #fff !important;
}

/* media queries for less than 1080px */
@media only screen and (max-width: 1080px) {
  .paddingSm {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pokeCreated {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* media queries for less than 1200px */
@media only screen and (max-width: 768px) {
  .pokeSm {
    grid-template-columns: repeat(2, 1fr);
  }

  .pokeCreated {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media queries for less than 640px */
@media only screen and (max-width: 640px) {
  .pokeSm {
    grid-template-columns: repeat(1, 1fr);
  }

  .pokeCreated {
    grid-template-columns: repeat(1, 1fr);
  }
}
